*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
h1{
    text-align:center;
    font-family: 'Lato', sans-serif;

}
h2{
    text-align:center;
    font-family: 'Lato', sans-serif;
}
nav {
    height : 75px;
    background:black;
    color:white;
    
    display:flex;
    justify-content:space-around;
    align-items:center;
}
nav a{
    text-decoration: none;
    text-align: center;
    color:white;
    font-size: 25px;
   margin-right:25px;
   margin-left:25px;
   font-family: 'Lato', sans-serif;
  
}
table{
    width:80%;

}
tr {
    height:40px;
}
td{
    width:50px;
    border:1px solid black;
    text-align: center;
}
form{
   
}